# This pre-commit file use for check code style before commit and also use for check code style in CI
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      # - id: check-added-large-files
      - id: debug-statements
        language_version: python3

  # common
  # TODO: soon
  # - repo: local
  #   hooks:
  #     - id: server-export-requirements
  #       name: server-export-requirements
  #       entry: bash -c 'bash others/server-requirements.sh'
  #       language: system
  #       pass_filenames: false

  # js
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: "" # Use the sha / tag you want to point at
    hooks:
      - id: prettier
        types_or: [css, javascript, ts, vue, html]
        additional_dependencies:
          - prettier@3.2.5
        args: [--check]

  - repo: https://github.com/haocheng6/mirrors-oxlint
    rev: v0.2.9
    hooks:
    -   id: oxlint
        types_or: [css, javascript, ts, vue, html]

  # python
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.4.4
    hooks:
      # linter
      - id: ruff
        name: ruff-linter
        args: [--fix, --exit-non-zero-on-fix]
        files: ^server/
      # formatter
      - id: ruff-format
        name: ruff-formatter
        files: ^server/
