# This pre-commit file use for check code style before commit and also use for check code style in CI
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: debug-statements
        language_version: python3

  # common
  # TODO: soon
  # - repo: local
  #   hooks:
  #     - id: server-export-requirements
  #       name: server-export-requirements
  #       entry: bash -c 'bash others/server-requirements.sh'
  #       language: system
  #       pass_filenames: false

  # js

  # - repo: local
  #   hooks:
  #     - id: husky-run-pre-commit
  #       name: husky
  #       language: system
  #       entry: ./others/.husky/pre-commit
  #       pass_filenames: false
  #       always_run: true

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: "" # Use the sha / tag you want to point at
    hooks:
      - id: prettier
        types_or: [css, javascript]
        additional_dependencies:
          - prettier@3.0.3

  # - repo: https://github.com/pre-commit/mirrors-eslint
  #   rev: "" # Use the sha / tag you want to point at
  #   hooks:
  #     - id: eslint
  #       files: \.[jt]sx?$ # *.js, *.jsx, *.ts and *.tsx
  #       types: [file]

  # python
  - repo: https://github.com/psf/black
    rev: 23.7.0
    hooks:
      # formater
      # black for server
      - id: black
        name: black-server
        args: [--safe]
        files: ^server/
      # black for admin_server
      - id: black
        name: black-admin-server
        args: [--safe]
        files: ^admin_server/

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.0.292
    hooks:
      # linter
      # ruff for server
      - id: ruff
        name: ruff-server
        args: [--fix, --exit-non-zero-on-fix]
        files: ^server/
      # ruff for admin_server
      - id: ruff
        name: ruff-admin-server
        args: [--fix, --exit-non-zero-on-fix]
        files: ^admin_server/
      # # formatter(beta)
      # - id: ruff-format
      #   args: [--check]
