# this only for dev, not for production
services:
  nginx:
    image: nginx:latest
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
    ports:
      - 80:80
      - 443:443
    depends_on:
      - client
      - server
    restart: on-failure

  server:
    build:
      context: ./
      dockerfile: ./server/Dockerfile
    volumes:
      - .:/var/task
    working_dir: /var/task/server
    user: "${COMPOSE_UID:-1000}:${COMPOSE_GID:-1000}"
    ports:
      - "8080:8080"
    environment:
      - HOME=/tmp
      - is_dev_env=True
    depends_on:
      - mongo
    networks:
      - mongo-database
    command:
      ["uvicorn", "main:app", "--reload", "--host=0.0.0.0", "--port=8080"]
    entrypoint: ["poetry", "run"]

  client:
    build:
      context: ./
      dockerfile: ./client/Dockerfile
    ports:
      - 4321:4321
    volumes:
      - .:/var/task
    working_dir: /var/task/client
    # environment:
    #   - ENVIRONMENT=docker
    command:
      ["npm", "run", "start", "--", "--host", "0.0.0.0", "--port", "4321"]

  mongo:
    image: mongo
    restart: always
    ports:
      - '27017:27017'
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: admin
    networks:
      - mongo-database
    volumes:
      - ./others/data/mongodb:/data/db

  mongo-express:
    image: mongo-express
    restart: always
    ports:
      - 8081:8081
    environment:
      ME_CONFIG_MONGODB_AUTH_USERNAME: admin
      ME_CONFIG_MONGODB_AUTH_PASSWORD	: admin
      ME_CONFIG_MONGODB_ADMINUSERNAME: admin
      ME_CONFIG_MONGODB_ADMINPASSWORD: admin
      ME_CONFIG_MONGODB_URL: mongodb://admin:admin@mongo:27017/
    networks:
      - mongo-database

  # redis:
  #   restart: always
  #   image: redis:latest
  #   ports:
  #     - 6379:6379
  #   entrypoint: redis-server --appendonly yes

networks:
  mongo-database:
    driver: bridge
