annotated-types==0.5.0
cfgv==3.4.0
distlib==0.3.7
filelock==3.12.4
identify==2.5.30
nodeenv==1.8.0
platformdirs==3.11.0
pre-commit==3.4.0
pydantic==1.10.12
pydantic-to-typescript==1.0.10
pydantic_core==2.10.1
PyYAML==6.0.1
ruff==0.1.11
typing_extensions==4.8.0
virtualenv==20.24.5
