
---
import ListTagsV2 from '@/components/ListTagsV2'
import ListPostsV2 from '@/components/ListPostsV2'
import TitlePage from '@/components/TitlePage'
import BaseLayout from '@/layouts/BaseLayout'
import fetchLink from 'src/utils/config'
import type {GetPostListResponse} from '@/types/responses'

const response = await fetch(`${fetchLink}/posts?` + Astro.url.searchParams)
const postData = await response.json() as Array<GetPostListResponse>
---

<BaseLayout title='Home'>
	<TitlePage title='BetterMe-Better everyday' />
	<ListTagsV2 />

	<div>
		<h2 class='text-lg font-medium tracking-wide text-end'>Bài viết mới nhất</h2>
		<ListPostsV2 posts={postData} />
	</div>
</BaseLayout>

<script>
	import { animate } from 'motion'
	const showAnimations = localStorage.getItem('animations') === 'true'

	if (showAnimations) {
		animate(
			'.title',
			{ y: [80, 0], opacity: [0, 1] },
			{
				duration: 2.5,
				opacity: { duration: 3 },

				offset: [0, 0.55, 0.75]
			}
		)
	}
</script>
