---
import TagCard from "../index/TagCard.astro";
import SearchInput from "../index/SearchInput.svelte";
---

<nav class="pb-8 bg-white border-gray-200 dark:bg-gray-900">
  <div class="flex flex-wrap items-center justify-between mx-auto p-4">
    <!-- logo -->
    <a href="/">
      <img class="h-100" src="/Betterme_news.png" alt="logo" />
    </a>

    <!-- search -->
    <SearchInput client:load />
    <!-- create post -->
    <button> Create post</button>
  </div>

  <center>
    <p class="text-2xl font-extrabold text-slate-600">
      Xin chào, ngày hôm nay của bạn thế nào?
    </p>
  </center>

  <div>
    <p class="ml-5 text-lg font-extrabold text-slate-600">CHỦ ĐỀ</p>
    <center>
      <div class="max-w-screen-xl grid grid-cols-9 gap-4 justify-center">
        <TagCard title="Khoa học" />
        <TagCard title="CLB/Tình nguyện" />
        <TagCard title="Khóa học" />
        <TagCard title="ABC" />
        <TagCard title="ABC" />
        <TagCard title="ABC" />
        <TagCard title="ABC" />
        <TagCard title="ABC" />
        <TagCard title="ABC" />
      </div>
    </center>
  </div>
</nav>

<style>
  nav {
    background-color: #e0dacd;
  }
</style>
