---
import { ViewTransitions } from "astro:transitions";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Betterme.news</title>
    <ViewTransitions />

    <meta name="generator" content="khoitm" />
    <meta name="description" content="description" />
    <link rel="icon" type="image/svg+xml" href="Logo.png" />

    <meta name="author" content="Khoitm" />
    <meta name="copyright" content="MIT" />
  </head>
  <body><slot /></body>
</html>
