ENV="DEV"  #(DEV|USER|ADMIN)

DATABASE_URL="mongodb://admin:admin@mongo:27017/"

AWS_ACCESS_KEY_ID="XXXXXXXXXXXXXXXXXXXXXXXX"
AWS_ACCESS_ACCESS_KEY="XXXXXXXXXXXXXXXXXXXXXXXX"
AWS_BUCKET="testfiles.betterme.news"

DISCORD_BOT_TOKEN = "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"

FACEBOOK_ACCESS_TOKEN="xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
FACEBOOK_APP_ID = 'xxxxxxxxxxxxxxxxxxxxxxx' # this for long live face book access token
FACEBOOK_APP_SECRET = 'xxxxxxxxxxxxxxxxxxxxxxx' # this for long live face book access token
