{% extends "base.html" %} {% block title %}Content{% endblock title %} {% block
head %}
<style>
  body {
    margin-bottom: 100px;
  }
</style>
{% endblock head %} {% block body %}

<center>
  <h1 id="title">{{data.discord.title}}</h1>
  <p id="deadline">Deadline: {{data.discord.deadline}}</p>

  <img
    id="banner-image"
    src="/scrap/data/ivolunteer_vn/media/{{data.discord.banner}}"
  />
  <input
    id="banner-input"
    aria-describedby="file_input_help"
    type="file"
    class="block text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400"
    onchange="previewImage()"
  />
  <p class="mt-1 text-sm text-gray-500 dark:text-gray-300">
    SVG, PNG, JPG or GIF (MAX. 800x400px).
  </p>

  <label
    for="first_name"
    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
    >Description</label
  >
  <textarea
    id="description"
    rows="4"
    placeholder="Content item"
    onchange="onContentChange()"
    class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
  >
{{data.discord.description}}
        </textarea
  >
  <label
    for="first_name"
    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
    >Content</label
  >
  {% for cont in data["discord"]["content"] %}
  <textarea
    id="content-item-{{loop.index}}"
    rows="4"
    placeholder="Content item"
    onchange="onContentChange()"
    class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
  >
{{cont}}
                </textarea
  >
  {% endfor %}

  <br />
  <button
    id="save-btn"
    class="text-white block bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto m-5 px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
    onclick="savePost()"
  >
    Save
  </button>

  <br />
  <button
    id="send-test-post-btn"
    class="text-white block bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto m-5 px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
    onclick="sendTestPost()"
  >
    Send test post
  </button>

  <br />
  <button
    id="send-post-btn"
    class="text-white hidden bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto m-5 px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
    onclick="sendPost()"
  >
    Send post
  </button>
</center>
{% endblock body %} {% block script %}
<script>
  const contentLength = parseInt('{{data["content"]|length}}');
  let isContentChanged = false;

  const onContentChange = () => {
    console.log("change");
    isContentChanged = true;
    document.getElementById("send-test-post-btn").style.display = "none";
    document.getElementById("send-post-btn").style.display = "none";
  };

  const getImageFromElement = () => {
    var file = document.getElementById("banner-input").files;
    if (file.length > 0) {
      return file[0];
    }
    return null;
  };

  const previewImage = () => {
    const bannerImage = getImageFromElement();
    if (bannerImage !== null) {
      var fileReader = new FileReader();
      fileReader.onload = (event) => {
        document
          .getElementById("banner-image")
          .setAttribute("src", event.target.result);
      };
      fileReader.readAsDataURL(bannerImage);
    }
    onContentChange();
  };

  const sendTestPost = async () => {
    await fetch(
      "/admin/api/bot/news/ivolunteer_vn?post_name={{post_name}}&is_testing=true",
      { method: "POST" },
    );
    document.getElementById("send-post-btn").style.display = "block";
  };

  const sendPost = async () => {};

  const savePost = async () => {
    const updatedContent = {
      banner: getImageFromElement() === null ? null : getImageFromElement(),
      description: document.getElementById("description").value,
      content: [],
    };
    for (var i = 1; i <= contentLength; i++) {
      updatedContent.content.push(
        document.getElementById(`content-item-${i}`).value,
      );
    }

    // data to form data
    let formData = new FormData();
    for (const [key, value] of Object.entries(updatedContent)) {
      // remove unchange element
      if (value !== null) {
        formData.append(key, value);
      }
    }

    // fetch data
    await fetch("/admin/api/scrap/ivolunteer_vn/{{post_name}}/", {
      method: "PATCH",
      body: formData,
    });
    const isContentChanged = false;
  };
</script>

{% endblock script %}
