{% extends "base.html" %} {% block title %}Content{% endblock title %} {% block
head %}
<style>
  body {
    margin-bottom: 100px;
  }
</style>
{% endblock head %} {% block body %}

<center>
  <h1 id="title">{{data.discord.title}}</h1>
  <p id="deadline">Deadline: {{data.discord.deadline}}</p>

  <!-- TODO: remove -->
  <img
    id="thumbnail-img"
    src="/scrap/data/ivolunteer_vn/media/{{data.discord.banner}}"
  />
  <!--  -->

  <img
    id="banner-img"
    src="/scrap/data/ivolunteer_vn/media/{{data.discord.banner}}"
  />
  <input
    id="banner-input"
    aria-describedby="file_input_help"
    type="file"
    class="block text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400"
    onchange="previewImage()"
  />
  <p class="mt-1 text-sm text-gray-500 dark:text-gray-300">
    SVG, PNG, JPG or GIF (MAX. 800x400px).
  </p>

  <label
    for="first_name"
    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
    >Description</label
  >
  <textarea
    id="description"
    rows="4"
    placeholder="Content item"
    onchange="onContentChange()"
    class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
  >
{{data.discord.description}}
        </textarea
  >
  <label
    for="first_name"
    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
    >Content</label
  >
  {% for cont in data["discord"]["content"] %}
  <textarea
    id="discord-content-item-{{loop.index}}"
    rows="4"
    placeholder="Content item"
    onchange="onContentChange()"
    class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
  >
{{cont}}
                </textarea
  >
  {% endfor %}

  <br />
  <button
    id="save-btn"
    class="text-white block bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto m-5 px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
    onclick="savePost()"
  >
    Save
  </button>

  <br />
  <button
    id="send-test-post-btn"
    class="text-white block bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto m-5 px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
    onclick="sendTestPost()"
  >
    Send test post
  </button>

  <br />
  <button
    id="send-post-btn"
    class="text-white hidden bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto m-5 px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
    onclick="sendPost()"
  >
    Send post
  </button>
</center>
{% endblock body %} {% block script %}
<script>
  const discordContentLength = parseInt(
    '{{data["discord"]["content"]|length}}',
  );
  const origin = "{{origin}}";
  const postName = "{{post_name}}";
</script>
<script type="text/javascript" src="/static/js/ivolunteer_vn_post.js"></script>

{% endblock script %}
