---
const today = new Date();
---

<footer class='w-full px-16 h-24 border-t-2'>
	<center class="mt-5 mb-2">
		<a href='/privacy-policy' class="underline"
			aria-label='Privacy and policy'
		>Privacy and policy</a>
		<br>
	</center>
	<center >
		&copy; {today.getFullYear()} Betterme.news. All rights reserved.
	</center>
</footer>
