
---
import TagV2 from "@/components/TagV2";
import { IvolunteerPageTagsEnum } from "@/types/enums";

const tagsData = Object.values(IvolunteerPageTagsEnum);
---

<div class='relative flex flex-wrap min-w-full gap-5'>
	<TagV2 />
	{
		tagsData.map((tag: string) => (
			<TagV2 name={tag} />
		))
	}

	<div class='hidden sm:block absolute w-full bottom-0 border-b-2 -z-40 dark:border-gray-600'></div>
</div>
