---

---

<a href="">
  <div
    class="w-100 border border-gray-200 shadow-md hover:shadow-2xl grayscale hover:grayscale-0 hover:scale-105"
  >
    <img
      src="https://cdn4.ivolunteer.vn/post/wp-content/uploads/2023/10/27225259/Ban-sao-cua-Kich-thuoc-800x500px_Anh-Dai-Dien-Bai-Dang-Website-iVolunteer-14-3.png"
      alt=""
    />
    <div class="p-5">
      <h2
        class="mb-2 text-left text-xl font-bold tracking-tight text-gray-900 dark:text-white hover:bg-slate-950 hover:text-white"
      >
        Câu Lạc Bộ Pháp Ngữ Học Viên Ngoại Giao Chính Thức Mở Đơn Tuyển Thành
        Viên
      </h2>
    </div>
  </div>
</a>

<style>
  h2 {
    font-family: "Inconsolata", sans-serif !important;
    font-weight: 900;
  }
</style>
