---
const { title } = Astro.props;
---

<a class="w-[110px] h-[130px]" href="">
  <div
    class="w-[110px] h-[130px] border border-gray-200 shadow-md grayscale hover:grayscale-0 hover:animate-pulse"
  >
    <img
      class="object-none object-center"
      src="https://i.imgur.com/2wD3VJA_d.jpg?maxwidth=800&shape=thumb&fidelity=high"
      alt=""
    />
    <div class="p-2">
      <h2
        class="mb-2 text-center text-xl font-bold tracking-tight text-gray-900 dark:text-white"
      >
        {title}
      </h2>
    </div>
  </div>
</a>
