name: Style code check
on:
  push:
    branches: [master]
  pull_request:
    branches: [master]
jobs:
  style-code-check:
    runs-on: ubuntu-latest
    steps:
      # Setup
      - uses: actions/checkout@v3
      - name: Setup python
        uses: actions/setup-python@v4
        with:
          python-version: 3.9
          cache: "pip"
      - name: Setup pre-commit
        uses: pre-commit/action@v3.0.0
      - name: Install pre-commit
        run: pre-commit install

      # Run style code check
      - name: Run pre-commit
        run: pre-commit run
